
aside{
  padding: 0 !important;
  border: 1px solid #ddd;
  border-radius: 4px;
}
ul.nav-stacked{
}
ul.nav-stacked li a{
  padding: 8px 15px;
  border-radius: 0;
}
ul.nav-stacked li.active a{
  background-color: transparent;
  color: #333;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.search{
  border-radius: 0;
}
.search input{
  border-radius: 0;
  border: none;
}
.search button{
  border-radius: 0;
  border: none;
  border-left: 1px solid #ddd;
}
