* {
  font-family: 'Exo', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 100px;
  margin-bottom: 75px;
}

/* Begin Top Navbar */
a.navbar-brand{
  padding: 5px 0;
}
/* End Top Navbar */

/* Begin Container */
.container{
  position: relative;
}
/* End Container */

/* Begin Footer */
footer {
  position: absolute;
  bottom: 0;
  padding-top: 25px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #EEE;
}

footer a{
  text-decoration: none;
  color: #333;
}
/* End Footer */
